mixin cell(cell, className)
    .cell(class=(cell.test ? 'cell--has-test' : ''))
        .cell__content
            .cell__left
                .cell__scan-code Zeskanuj kod QR
                img(class=(cell.blurQr ? 'blur' : ''), src=cell.qrSrc)
            .cell__or
                .cell__or-rule
                .cell__or-text albo
                .cell__or-rule
            .cell__right
                .cell__instructions
                    .cell__help.cell__help--1 Wejdź na stronę
                    .cell__url=self.voteUrl
                    .cell__help.cell__help--2 i wpisz kod dostępu
                    .cell__token(class=(cell.blurToken ? 'blur' : ''))=cell.token
                hr
                .cell__class
                    | Twoja klasa:#{' '}
                    b=className
        if cell.test
            .cell__test
                b ZAGŁOSUJ:#{' '}
                | 5pkt:#{' '}
                b=cell.test.points5
                | , 3pkt:#{' '}
                b=cell.test.points3
                | , 1pkt:#{' '}
                b=cell.test.points1
                | , -1pkt:#{' '}
                b=cell.test.pointsNeg1
